#mbrt__img-shifter

	ul.list-wrap
		li.img-trigger(data-id="0") Best Served &nbsp;&nbsp;Bold
			span.index 2019
		li.img-trigger(data-id="1") &nbsp;&nbsp;&nbsp;Aristide Benoist
			span.index 2019
		li.img-trigger(data-id="2") &nbsp;&nbsp;Baptiste 
			br
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Briel
			span.index 2019
		li.img-trigger(data-id="3") Juan Fuentes &nbsp;&nbsp;&nbsp; Cabrera
			span.index 2019
		li.img-trigger(data-id="4") &nbsp;Zach &nbsp;&nbsp;&nbsp;&nbsp;Lieberman
			span.index 2019
		li.img-trigger(data-id="5") Joshua &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Davis
			span.index 2019
		
	.imgs-canvas
		video.active(playsinline="" muted="" autoplay="" loop="" style="background-image:url('https://cdn.dribbble.com/users/527354/screenshots/5615276/procedural_02.png')" data-silent="true" src="https://cdn.dribbble.com/users/527354/videos/4010/universal_motion_gradient.mp4")

		video(playsinline="" muted="" autoplay="" loop="" style="background-image:url('https://cdn.dribbble.com/users/1963325/screenshots/6078954/dribble.png')" data-silent="true" src="https://cdn.dribbble.com/users/1963325/videos/15108/dribble.mp4")

		img(src="https://cdn.dribbble.com/users/296939/screenshots/5083219/dribble-_256.gif", alt="")

		video(class="tWeCl" playsinline="" muted="" autoplay="" poster="https://instagram.fmex8-1.fna.fbcdn.net/vp/71646875927d13e0741ad209e343a20a/5D027625/t51.2885-15/e35/54732000_182222512761080_4097428085798959746_n.jpg?_nc_ht=instagram.fmex8-1.fna.fbcdn.net" preload="none" src="https://scontent.cdninstagram.com/vp/0824ded0dbbc532505277e4a5683724a/5D02D4E2/t50.2886-16/57238302_348230435799958_2855245012285784064_n.mp4?_nc_ht=scontent.cdninstagram.com" type="video/mp4" loop="" style="width: 700px")

		video(class="tWeCl" playsinline="" muted="" autoplay="" poster="https://instagram.fmex8-1.fna.fbcdn.net/vp/48a377860d62e0398cf879850ca1ef68/5D02C425/t51.2885-15/e15/51687385_324279631555753_6302583384320776223_n.jpg?_nc_ht=instagram.fmex8-1.fna.fbcdn.net" preload="none" src="https://scontent.cdninstagram.com/vp/51a1a7fc471bf3643ba017e1463f3c36/5D028056/t50.2886-16/52896584_251276502452114_8285197522658394112_n.mp4?_nc_ht=scontent.cdninstagram.com" type="video/mp4" loop="")
		
		video(class="tWeCl" playsinline="" muted="" autoplay="" poster="https://instagram.fmex8-1.fna.fbcdn.net/vp/5e8942e426ff2b4672ef753ff7fb925b/5D028590/t51.2885-15/fr/e15/s1080x1080/30591420_378179809327394_8813083333010391040_n.jpg?_nc_ht=instagram.fmex8-1.fna.fbcdn.net" preload="none" src="https://scontent.cdninstagram.com/vp/6a9f14b10c800f23ffca48ad7f179e8d/5D02BDCB/t50.2886-16/30523470_431024274007790_1267871811748495360_n.mp4?_nc_ht=scontent.cdninstagram.com" type="video/mp4" loop="")