#mbrt__img-shifter

	ul.list-wrap
		li.img-trigger(data-id="0") Yeah I Care
		li.img-trigger(data-id="1") · Try It Over
		li.img-trigger(data-id="2") · Release Your Problems
		li.img-trigger(data-id="3") · Sanity
		li.img-trigger(data-id="4") · Cigarettes & Chocolate
		li.img-trigger(data-id="5") · by: Chet Faker
		
		.imgs-canvas
			img(src="https://i.scdn.co/image/73c9ae2dee4a72de5e1599909be6503c316dc153", alt="")
			img(src="http://www.sounddoc.net/images/In-Post-Images/2015/YujenAmongOthers.jpg", alt="")
			img(src="https://img.discogs.com/uU61gTMiArn_aqSmb7b1FLlCSjc=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-5589550-1397744125-1213.jpeg.jpg", alt="")
			img(src="https://i1.wp.com/ventsmagazine.com/wp-content/uploads/2019/03/4ba84702-a8f5-48ff-9cf6-78b0c0b19cae.jpg", alt="")
			img(src="https://www.besteveralbums.com/albumart/album_large_32008_50964fad916b0.jpg", alt="")
			
			img.active(src="https://rtvc-assets-radionica3.s3.amazonaws.com/s3fs-public/styles/image_750x422/public/senalradionica/articulo-noticia/galeriaimagen/nick_murphy_front.jpg", alt="")